<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mxn.architecture.tries.sm.mapper.HelloMapper">
    <resultMap type="org.mxn.architecture.tries.sm.entity.User" id="usermap">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
    </resultMap>
    <resultMap id="starResume" type="org.mxn.architecture.tries.sm.entity.StarResume">
        <id property="id" column="id"></id>
        <result property="name" column="name"></result>
        <collection property="champions" ofType="org.mxn.architecture.tries.sm.entity.Champion">
            <id property="id" column="cid"></id>
            <result property="year" column="year"></result>
        </collection>
        <collection property="girls" ofType="org.mxn.architecture.tries.sm.entity.Girl">
            <id property="id" column="gid"></id>
            <result property="girl" column="girl"></result>
        </collection>
    </resultMap>
    <select id="hello" resultType="org.mxn.architecture.tries.sm.entity.User">
        select id,name from user where id = 1
    </select>
    <select id="stars" resultMap="starResume">
        select
        u.id,u.`name`,c.id cid,c.`year`,g.id gid,g.girl
        from `user` u left join champion c on u.`name` = c.`name`
        left join girl g on u.`name` = g.`name`
    </select>
    <select id="starChampion" resultMap="starResume">
        select
        u.id,u.`name`,c.id cid,c.`year`,g.id gid,g.girl
        from `user` u left join champion c on u.`name` = c.`name`
        left join girl g on u.`name` = g.`name`
        <trim prefix="where">
            u.`name` in
            <foreach collection="stars" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
            or u.`name` = #{test}
        </trim>
    </select>
    <select id="starChampion2" resultMap="starResume">
        select
        u.id,u.`name`,c.id cid,c.`year`,g.id gid,g.girl
        from `user` u left join champion c on u.`name` = c.`name`
        left join girl g on u.`name` = g.`name`
        <trim prefix="where">
            u.`name` in
            <foreach collection="list" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </trim>
    </select>
</mapper>